@model IEnumerable<MartialArtsWebApp.Models.StudentRankDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Student Name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string) <br /><br />
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rank.Rank_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank.Rank_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentRankDetialID }) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentRankDetialID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentRankDetialID })
            </td>
        </tr>
    }

</table>
