@model IEnumerable<MartialArtsWebApp.Models.MembershipType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Membership_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membership_Fee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Membership_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Membership_Fee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MembershipID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MembershipID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MembershipID })
        </td>
    </tr>
}

</table>
